<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件列表</title>
</head>
<body>

<#if error??>
${error}
</#if>

<table class="table">
    <caption>Inbox</caption>
    <thead>
    <tr>
        <th><span class="glyphicon glyphicon-envelope"></span></th>
        <th>From</th>
        <th>Subject</th>
        <th>Received</th>
        <th>Preview</th>
    </tr>
    </thead>
    <tbody>
    <#list messages as message>
        <tr>
            <td>
                <#if message.rawObject.isRead??>
                    <span class="glyphicon glyphicon-envelope"></span>
                </#if>
            </td>
            <td>
                <#if message.rawObject.from??>
                    ${message.rawObject.from.emailAddress.name}
                </#if>
            </td>
            <td>
                <#if message.rawObject.subject??>
                    ${message.rawObject.subject}
                </#if>
            </td>
            <td>
                <#if message.rawObject.receivedDateTime??>
                    ${message.rawObject.receivedDateTime}
                 </#if>
            </td>
            <td>
                <#if message.rawObject.bodyPreview??>
                    ${message.rawObject.bodyPreview}
                </#if>
            </td>
        </tr>
    </#list>

    </tbody>
</table>
</body>
</html>